body{
    position: relative;
    background: url("images/fridge.jpg");
    background-repeat:no-repeat; 
    background-size:450px; 
    background-position-x:320px;
    background-position-y:150px;  
    background-color:blanchedalmond; 
}
#firstName{
    position:absolute;
    top:50px;
    left:20%;

}
#lastName{
    position:absolute;
    top:50px;
    left:37%;
}
#submitB{
    position:absolute;
    top:82px;
    left:54%;
}
