
#page-wrapper{
    position:relative;

}
#contener1{
    position:relative;
  
}
#menu{
    border:1px solid blue;
    /*background-color: white;/* #2597fa;*/
    border-radius: 10px;
    width:160px;
    height: 500px;
    position: absolute;
    left:20px;
    font-family: 'Cookie', cursive;
background-color:#337ab7;
}
#bonjour{
    font-family: 'Cookie', cursive;
    font-size:30px;
    display:inline-block;
    position: absolute;
    left:230px;
}
#createFood{
    border:1px solid blue;
    margin: 15px;
    background: url('icons/createIcon.png');
    background-repeat: no-repeat; 
    background-size:70px; 
    background-position: 25px 35px;
    width: 130px;
    height: 110px;
    z-index: 1;
    position: absolute;
    font-size:28px;
    left:25px 35px;
    text-align: center;
    background-color: azure;
}
#editFood{
    top:120px;
    border:1px solid blue;
    margin: 15px;
    background: url('icons/editFood.png');
    background-repeat: no-repeat; 
    background-size:70px; 
    background-position: 25px 35px;
    width: 130px;
    height: 110px;
    z-index: 1;
    position: absolute;
    font-size:28px;
    left:20px 35px;
    text-align: center;
    background-color: azure;
}
#deleteFood{
    top:240px;
    border:1px solid blue;
    margin: 15px;
    background: url('icons/deleteFood.png');
    background-repeat: no-repeat; 
    background-size:70px; 
    background-position: 25px 35px;
    width: 130px;
    height: 110px;
    z-index: 1;
    position: absolute;
    font-size:28px;
    left:20px 35px;
    text-align: center;
    background-color: azure;
}
#listFood{
    top:360px;
    border:1px solid blue;
    margin: 15px;
    background: url('icons/fridge.jpeg');
    background-repeat: no-repeat; 
    background-size:70px; 
    background-position: 25px 35px;
    width: 130px;
    height: 110px;
    z-index: 1;
    position: absolute;
    font-size:25px;
    left:20px 35px;
    text-align: center;
    background-color: azure;
}
.container{
    position: absolute;
    top:800px;
}
#content{
    margin:120px;
    position: absolute;
    left:5%;
    display: block; 
    width: 50%;
    height: 380px;
  
    border-radius: 10px;
}
#mickeyTab{
    display: inline-block;
}
#printDataDiv{
    position: absolute;
    border:1px solid blue;
    width: 800px;
    height: 300px;
    overflow-x: scroll;
    overflow-y:scroll; 
    top:35%;
    left:13%;
    padding: 15px;
}