<div id="spentCard" class="card text-white bg-success mb-3" style="max-width: 18rem;">
        <div class="card-header">Spent</div>
        <div class="card-body">
          <p id="spent" class="card-text"></p>
        </div>
</div>
<div id="WasteCard" class="card text-white bg-success mb-3" style="max-width: 18rem;">
        <div class="card-header">Waste</div>
        <div class="card-body">
          <p id="waste" class="card-text"></p>
        </div>
</div>

<form class="was-validated">
    <div class="form-group">
        <select class="custom-select" required id="wasteProduct12">
          <option>Produits Wasted</option>
         
        </select>
     
      </div>
</form>
<form class="was-validated">
    <div class="form-group">
        <select class="custom-select" required id="consumed123">
          <option>Produits Consumed </option>
         
        </select>
     
      </div>
</form>


