<div id="page-wrapper" style="min-height: 829px;">
                
                    <!-- /.row -->
                            <div class="row" id="contener1">
                                <div class="col-lg-2 col-md-1">
                                   <div id="menu">
                                       <div id="createFood">
                                            <a href="#/addFood">Add food</a>
                                        </div>
                                        <div id="editFood">
                                            <a href="#/editFood">See my spent<a>
                                        </div>
                                        <div id="deleteFood">
                                            <a href="#/consume">Consume food</a>
                                        </div>
                                        <div id="listFood">
                                            <a href="#/look">Look in fridge</a>  
                                        </div>
                                   </div>
                                </div>
                                <div id="contener123" class="card text-white bg-success mb-3" style="max-width: 18rem;">
                                        <div class="card-header">Available</div>
                                        <div class="card-body">
                                                <p id="produitsDispo" class="card-text"></p>
                                        </div>
                                </div>
                                <div id="contener223" class="card text-white bg-success mb-3" style="max-width: 18rem;">
                            
                                    <div class="card-header">Consumed: </div>
                                        <div class="card-body">
                                            <div id="consumed"> </div>
                                               
                                        </div>
                                </div>
                </div>
                <div id="datas"></div>
    <script src="http://code.jquery.com/jquery-2.0.3.min.js" ></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>